[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywin32 = "*"
pillow = "*"
psutil = "*"
numpy = "*"
auto-py-to-exe = "*"
websocket-client = "*"
rel = "*"
pyaudio = "*"
sounddevice = "*"
soundcard = "*"
soundfile = "*"
pynput = "*"
loguru = "*"
moviepy = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
